<header class="header-style-1">

    <!-- ============================================== TOP MENU ============================================== -->
    <div *ngIf="false" class="top-bar animate-dropdown">
        <div class="container">
            <div class="header-top-inner">
                <div class="cnt-account">
                    <ul class="list-unstyled">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <!-- /.cnt-account -->

                <div class="cnt-block">
                    <ul class="list-unstyled list-inline">
                        <!--                        <li class="dropdown dropdown-small"><a href="#" class="dropdown-toggle" data-hover="dropdown"
                                                                                       data-toggle="dropdown"><span
                                                        class="value">English </span><b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">English</a></li>
                                                        <li><a href="#">French</a></li>
                                                        <li><a href="#">German</a></li>
                                                    </ul>
                                                </li>-->
                    </ul>
                    <!-- /.list-unstyled -->
                </div>
                <!-- /.cnt-cart -->
                <div class="offer-text" style="display: none;">Save up to 12% everyday on all products</div>
                <div class="clearfix"></div>
            </div>
            <!-- /.header-top-inner -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo">
                        <a href="">
                            <img src="./assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= -->
                </div>
                <!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-9 col-md-6 top-search-holder">
                    <!-- /.contact-row -->
                    <!-- ============================================================= SEARCH AREA ============================================================= -->
                    <div class="search-area">
                        <form>
                            <div class="control-group">
                                <ul class="categories-filter animate-dropdown">
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"
                                           href="category.html">Search <b class=""></b></a><!-- caret -->
                                        <!-- <ul class="dropdown-menu" role="menu" >
                                            <li class="menu-header" *ngFor="let menu of menus;>
                                                <a>{{ menu.name }}</a>
                                            </li>
                    
                                        </ul> -->
                                    </li>
                                </ul>
                                <input class="search-field" [(ngModel)]="searchQuery" (keyup.enter)="search($event)"
                                       [ngModelOptions]="{standalone: true}" placeholder="Search here...">
                                <a class="search-button" (click)="search($event)" href="#"></a></div>
                        </form>
                    </div>
                    <!-- /.search-area -->
                    <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                </div>
                <!-- /.top-search-holder -->

                <div class="col-xs-12 col-sm-3 col-md-3 animate-dropdown top-cart-row">
                    <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                    <div class="dropdown dropdown-cart" *ngIf="itemCount > 0">
                        <a href="#" class="dropdown-toggle lnk-cart"
                           data-toggle="dropdown">
                            <div class="items-cart-inner">
                                <div class="top-cart"></div>
                                <div class="total-price-basket">
                                    <span class="lbl">{{ itemCount }} items /</span>
                                    <span class="total-price">
                                    <span class="sign"></span>
                                    <span class="value">{{ total | currency:'KES':'code':'1.0-0'}}</span>
                                </span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="cart-item product-summary" *ngFor="let item of items">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="image"><a href="">
                                                <img src="{{item.imageUrl}}"
                                                     alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-xs-7">
                                            <h3 class="name"><a href="">{{ item.name }}</a></h3>
                                            <div class="price">{{ item.price | currency:'KES':'code':'1.0-0'}}</div>
                                        </div>
                                        <div class="col-xs-1 action"><a href="#" (click)="removeItem(item)"><i class="fa fa-trash"></i></a></div>
                                    </div>
                                </div>
                                <!-- /.cart-item -->
                                <div class="clearfix"></div>
                                <hr>
                                <div class="clearfix cart-total">
                                    <div class="pull-right"><span class="text">Sub Total :</span><span class="price">{{ total | currency:'KES':'code':'1.0-0'}}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                <a href="#checkout-container"
                                       class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a></div>

                            </li>
                        </ul>
                        <!-- /.dropdown-menu-->
                    </div>
                    <!-- /.dropdown-cart -->

                    <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                </div>
                <!-- /.top-cart-row -->
            </div>
            <!-- /.row -->
        </div>

    </div>
    <!-- /.main-header -->

    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button"><span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown yamm-fw">
                                    <a href="/">Home</a>
                                </li>
                                <li class="dropdown hidden-sm" *ngIf="false">
                                    <a href="category.html">Health &amp; Beauty
                                        <span class="menu-label new-menu hidden-xs">new</span>
                                    </a>
                                </li>
                                <li *ngFor="let menu of menus; let i = index" class="dropdown"
                                    [ngClass]="{'yamm mega-menu': menu.children.length > 0, 'hidden-sm': menu.children.length <= 0 }">
                                    <a *ngIf="menu.children.length <= 0"
                                       routerLink="/categories/{{ formatMenuLink(menu.name)}}-{{ menu.id }}">
                                        {{ menu.name }}
                                    </a>
                                    <a *ngIf="menu.children.length > 0" data-hover="dropdown" class="dropdown-toggle"
                                       data-toggle="dropdown"
                                       routerLink="/categories/{{ formatMenuLink(menu.name) }}-{{ menu.id }}">
                                        {{ menu.name }}
                                    </a>

                                    <ul *ngIf="menu.children.length > 0" class="dropdown-menu container" style="height:100%">
                                        <li>
                                            <div class="yamm-content ">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-2 col-menu"
                                                         *ngFor="let child of menu.children">
                                                        <h2 class="title">
                                                            <a routerLink="/categories/{{ formatMenuLink(child.name) }}-{{ child.id }}">{{
                                                                child.name }}</a>
                                                        </h2>
                                                        <ul class="links">
                                                            <li *ngFor="let childLink of child.children">
                                                                <a routerLink="/categories/{{ formatMenuLink(childLink.name) }}-{{ childLink.id }}">{{
                                                                    childLink.name }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- /.col -->

                                                    <div *ngIf="false"
                                                         class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
                                                        <img class="img-responsive"
                                                             src="assets/images/banners/top-menu-banner.jpg" alt="">
                                                    </div>
                                                    <!-- /.yamm-content -->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!--   <li class="dropdown yamm-fw">
                                      <a routerLink="/contact-us" data-hover="dropdown"
                                         class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                                  </li> -->
                            </ul>
                            <!-- /.navbar-nav -->
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.nav-outer -->
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.nav-bg-class -->
            </div>
            <!-- /.navbar-default -->
        </div>
        <!-- /.container-class -->

    </div>
    <!-- /.header-nav -->
</header>

