<div class="cart-item product-summary" *ngIf="false">
    <div class="row">
        <div class="col-xs-4">
            <div class="image"><a href="">
                <img src="{{ item.imageUrl }}"
                     alt=""></a>
            </div>
        </div>
        <div class="col-xs-7">
            <h5 class="name"><a href="">{{ item.name }}</a></h5>
            <br>
            <br>
            <br>
            <div class="price">Kshs. {{ item.price }}</div>
        </div>
        <div class="quant-input">
            <div class="arrows">
                <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
            </div>
            <input type="text" [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
</div>

<div class="product">
    <div class="product-micro">
        <div class="row product-micro-row">
            <div class="col col-xs-5">
                <div class="product-image">
                    <div class="image"><a href="#"> <img src="{{ item.imageUrl }}" alt=""> </a></div>
                    <!-- /.image -->

                </div>
                <!-- /.product-image -->
            </div>
            <!-- /.col -->
            <div class="col col-xs-7">
                <div class="product-info">
                    <h3 class="name"><a href="#">{{ item.name }}</a></h3>
                    <div class="quant-input">
                        <div class="arrows">
                            <div class="arrow plus gradient" (click)="addItemQuantity(item)">
                                <span class="ir"><i class="icon fa fa-sort-asc"></i></span>
                            </div>
                            <div class="arrow minus gradient" (click)="removeItemQuantity(item)">
                                <span class="ir"><i class="icon fa fa-sort-desc"></i></span>
                            </div>
                        </div>
                        <input type="text" [(ngModel)]="item.quantity" [ngModelOptions]="{standalone: true}">
                    </div>

                    <button type="button" class="close icon pull-right" (click)="removeItem(item)">
                        <i class="fa fa-close"></i>
                    </button>

                    <div class="rating rateit-small rateit" *ngIf="false">
                        <button id="rateit-reset-49" data-role="none" class="rateit-reset"
                                aria-label="reset rating" aria-controls="rateit-range-49"
                                style="display: none;"></button>
                        <div id="rateit-range-49" class="rateit-range" tabindex="0" role="slider"
                             aria-label="rating" aria-owns="rateit-reset-49" aria-valuemin="0" aria-valuemax="5"
                             aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;">
                            <div class="rateit-selected" style="height: 14px; width: 56px;"></div>
                            <div class="rateit-hover" style="height:14px"></div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="product-price"><span class="price"> {{ item.price | currency:'KES':'code':'1.0-0'}} </span></div>
                    <!-- /.product-price -->

                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.product-micro-row -->
        <div class="row" *ngIf="item.options.length > 0">
            <div class="col col-md-12 col-sm-12 col-xs-12" *ngFor="let option of item.options">
                <div class="form-group">
                    <label for="option-1">{{ option.name }}</label>
                    <select id="option-1" class="form-control" [(ngModel)]="option.product_option_id" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateCart($event)">
                        <option *ngFor="let product_option of option.product_options" [value]="product_option.id" [disabled]="outOfStock(product_option)" >
                            {{ product_option.name }}
                        </option>
                    </select>

                </div>
            </div>

        </div>
    </div>
    <!-- /.product-micro -->
    <hr/>
</div>