<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
    <div class="home-banner" style="width:105%; margin-top:0%">
      <img src="./assets/images/cs1-redone.jpg">
</div>
</div>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
   <div id="hero">
          <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
            <div class="item" style="background-image: url(assets/images/rsz_pop.jpg);">
              <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                  <div class="slider-header fadeInDown-1">Top Brand</div>
                  <div class="big-text fadeInDown-1" style="color: black"> Colourpop Ultra Matte Lipstick </div>
                  <div class="excerpt fadeInDown-2 hidden-xs"> <span style="color: black">Gives your lips that nice pop.</span> </div>
                  <div class="button-holder fadeInDown-3"> <a href="http://girlstuff.co.ke/categories/Lipsticks-27" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                </div>
                <!-- /.caption --> 
              </div>
              <!-- /.container-fluid --> 
            </div>
            <!-- /.item -->
            
            <div class="item" style="background-image: url(assets/images/try.jpg);">
              <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                  <div class="slider-header fadeInDown-1">Top Product</div>
                  <div class="big-text fadeInDown-1">T444z Hair Food</div>
                  <div class="excerpt fadeInDown-2 hidden-xs"> <span>Hair food for thicker longer hair.</span> </div>
                  <div class="button-holder fadeInDown-3"> <a href="http://girlstuff.co.ke/categories/Hair-and- Beauty-13" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                </div>
                <!-- /.caption --> 
              </div>
              <!-- /.container-fluid --> 
            </div>


               <div class="item" style="background-image: url(assets/images/swi.png);">
              <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                  <div class="slider-header fadeInDown-1"> For Kids </div>
                  <div class="big-text fadeInDown-1">Shark Air Swimmer </div>
                  <div class="excerpt fadeInDown-2 hidden-xs"> <span>Needs to be filled with helium. Can be reinflated over and over. Stays inflated for up to two weeks. Requires 4 AAA batteries.Measures 57 inches long and 36 inches tall.</span> </div>
                  <div class="button-holder fadeInDown-3"> <a href="http://girlstuff.co.ke/categories/Air-Swimmers-33" class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop Now</a> </div>
                </div>
                <!-- /.caption --> 
              </div>
              <!-- /.container-fluid --> 
            </div>
            <!-- /.item --> 
            
          </div>
           </div>
          <!-- /.owl-carousel --> 
        

<!-- 
            <div class="owl-controls clickable">
                <div class="owl-pagination">
                    <div class="owl-page active"><span class=""></span></div>
                    <div class="owl-page"><span class=""></span></div>
                </div>
                <div class="owl-buttons">
                    <div class="owl-prev"><i class="icon fa fa-angle-left"></i></div>
                    <div class="owl-next"><i class="icon fa fa-angle-right"></i></div>
                </div>
            </div> -->
           
       
        <!-- /.owl-carousel -->
    </div>
